.displayNone {
    display: none;
}

@media (max-width:361px) {

    .mobileBottomSection {
        width: auto;
        height: auto;

        display: flex;
        gap: 8px;
    }

    .bottomSectionButton {
        height: 50px;
        width: 50px;
        background-color: #0C98B4;
        border: 2px solid #60E3D5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin: 0;
        padding: 0;
    }

    .bottomSectionButton img {
        height: 18px;
        width: 18px;
        margin: 0;
        padding: 0;
    }

    .webcamIcon img {
        width: 26px;
        height: 40px;
    }
}