.bottomLeftElement {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: #0C98B4;
    /* Set your desired background color */
    color: #fff;
    /* Set your desired text color */
    border: 4.5px solid #60E3D5;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.bottomLeftElement:hover {
    cursor: pointer;
}

.bottomLeftElement img {
    width: 45px;
    height: 45px;
}

@media (max-width:1400px) {
    .mobileDisplayNone {
        display: none;
    }
}

@media (max-width: 2200px) and (min-width:1401px) {
    .bottomLeftElement {
        width: 60px;
        height: 60px;
    }
    
    .bottomLeftElement img {
        width: 30px;
        height: 30px;
    }
}