.container {
    background: linear-gradient(rgba(78, 108, 177, 0.5), rgba(78, 108, 177, 0.5)), url('/images/Walpaper_without_watermark.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

    overflow-x: auto;
    -ms-overflow-x: auto;
}

.parents {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
}

.statusSection {
    left: 702px;
    padding-top: 17px;
    display: flex;
    position: absolute;
}

.statusSection div {
    height: 100%;
}

.statusSection .status {
    width: 279px;
    height: 52px;
    display: flex;
    align-items: center;
    background-color: #0C98B4;
    border: 3px solid #60E3D5;
    border-radius: 20px;

    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;

    gap: 5px;
}

.idle {
    background-color: #0567A6 !important;
    justify-content: start !important;
}


.statusSection p {
    color: #FFFFFF;
}

.statusSection .status img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.statusSection .lidar {
    width: 94px;
    height: 52px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0567A6;
    border: 3px solid #60E3D5;
    border-radius: 20px;

    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    justify-content: center;
    gap: 5px;
    margin-left: 128px;
}

.lidarButton {
    margin-left: 10.65px;
    margin-top: -5px;
}


/* Style for the toggle switch container */
.toggleSwitch {
    display: inline-block;
    position: relative;
    width: 4.5vw;
    height: 100%;
}

/* Hide the default checkbox input */
.toggleInput {
    display: none;
}

/* Style for the slider */
.slider {
    height: 37.52px;
    width: 75.03px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0567A6;
    border-radius: 20px;
    transition: 0.4s;
}

/* Style for the slider when the toggle is "on" */
.slider::before {
    position: absolute;
    content: "";
    height: 14px;
    /* Adjust the height as needed */
    width: 14px;
    /* Adjust the width as needed */
    left: 15px;
    top: 50%;
    /* Center vertically */
    transform: translateY(-50%) translateX(100%);
    /* Center vertically and move to initial position */
    border: 7px solid #0567A6;
    border-radius: 50%;
    transition: 0.4s;
}

/* Style for the slider when the toggle is "on" */
.toggleInput:checked+.slider {
    background-color: #0567A6;
    /* Color after checked */
}

/* Style for the slider when the toggle is "off" */
.toggleInput:not(:checked)+.slider {
    background-color: #60E3D5;
    /* Color before checked */
}


/* Move the indicator to the right when toggled on */
.toggleInput:checked+.slider::before {
    transform: translateY(-50%) translateX(-10px);
    /* Center vertically and move to checked position */
    background-color: #60E3D5;
    border: 7px solid #60E3D5;
}


/* MAP SECTION */

.mapSection {
    width: 76.5% !important;
    min-height: 817px;
    /* height: 850px; */
    background-color: #D0E1E7;
    border: 3px solid #0C98B4;
    border-radius: 45px;
    box-shadow: -10px 10px 4px 0px #00000040;
    position: absolute;
    margin-bottom: 20px;
    position: relative;
    /* margin-right: 29px; */

    z-index: 2;

    display: flex;
    flex-direction: column;

    padding-top: 30px;
}


/* --------------------------------------------- */

/* TOP DIV */
.topDiv p {
    margin: 0;
}


.topDiv {
    display: flex;
    justify-self: start;
    align-items: center;
    gap: 10px;

    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    text-align: left;


    letter-spacing: 0em;
    color: #0567A6;

    padding-left: 50px;
    margin-bottom: 49px;
}


.topDiv .playButton,
.topDiv .pauseButton,
.topDiv .stopButton,
.topDiv .focusButton,
.topDiv .settingsButton {
    display: flex;
}

.topDiv .playButton,
.topDiv .pauseButton,
.topDiv .stopButton,
.topDiv .focusButton {
    height: 20px;
    width: max-content;
    background-color: #0C98B4;
    border: 2.09px solid #60E3D5;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 35.9px;

    padding-left: 9px;
    padding-right: 9px;
}

.topDiv .playButton p,
.topDiv .pauseButton p,
.topDiv .stopButton p,
.topDiv .focusButton p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.topDiv .playButton img,
.topDiv .pauseButton img,
.topDiv .stopButton img,
.topDiv .focusButton img {
    width: 12.54px;
    height: 15.23px;
    margin-left: 8px;
}

.topDiv .playButton:hover,
.topDiv .pauseButton:hover,
.topDiv .stopButton:hover,
.topDiv .focusButton:hover {
    box-shadow: -5px 5px 4px 0px #00000040;
    transition: 0.5s;
    cursor: pointer;
}

.topDiv .settingsButton {
    margin-left: auto;
    height: 20px;
    background-color: #F6F0F0;
    border: 3px solid #60E3D5;
    font-size: 14px;
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.topDiv .settingsButton img {
    height: 16px;
    width: 16px;
}

.buttonActive {
    background-color: #8DAAC0 !important;
}

/* Center Div */
.centerDiv {
    width: 95%;
    height: 669px;
    border-radius: 30px;
    border: 3px solid #0C98B4;
    margin-left: auto;
    margin-right: auto;
    background-color: #DCDCDC;
    overflow: hidden;
}

.centerDiv img {
    width: 18px;
    height: 18px;
}

.centerDiv .navigationSection {
    display: flex;
    position: absolute;
    width: 100%;
}

.mapPreview {
    width: 194px;
    height: 144px;
    background-color: #ECF4F6;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    border-color: #ECF4F6;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapPreview .map {
    width: 100%;
    height: 100%;
}

.centerDiv .buttonNavigation {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;

    position: absolute;
    z-index: 10;
    gap: 10px;
    right: 7%;
    margin-top: 25px;

}

.centerDiv .buttonNavigation div {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C98B4;
    border: 2px solid #60E3D5;
    border-radius: 5px;
    padding: 4px;
}

.centerDiv .buttonNavigation div:hover {
    background-color: #8DAAC0;
    cursor: pointer;
}

.footerMap {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 773px;
    padding-left: 15px;
    width: 91%;

}

.emergencyButton {
    width: 150.5px;
    height: 37.1px;

    background-color: #FF7582;
    display: flex;
    border-radius: 14px;
    border: 2.1px solid #FF7582;
    color: #FFFFFF;

    font-family: Inter;
    font-size: 13.3px;
    font-weight: 500;
    line-height: 16.1px;
    text-align: left;

    align-items: center;
    gap: 7px;
    justify-content: center;
}

.emergencyButton p {
    margin: 0;
}

.emergencyButton img {
    width: 16px;
    height: 16px;
}

.emergencyButton:hover {
    cursor: pointer;
}

.emergencyButtonActive {
    background-color: #C66E87;
}

.mapName {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;

    display: flex;
    align-items: center;

    color: #0567A6;
    margin-top: auto;
}

/* MODE LIST */
.modeListSection {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    /* margin-right: 10%; */
    margin-top: 25px;
    gap: 12px;
    /* right: 80px; */
    /* left: 65%; */
    right: 13%;
}


.modeListParents p {
    margin: 0;
    padding: 0;
}

.modeListParents {
    width: 175px;
    height: 40px;
    border: 3px solid #60E3D5;
    border-radius: 24px;
    background-color: #0C98B4;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;

    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 17px;
}

.modeListParents:hover {
    cursor: pointer;
}

.modeListOption {
    /* gap: 40%; */
}

.modeListSection .option {
    justify-content: start;
    background-color: #0567A6;
}

.modeListSection .option:hover {
    cursor: pointer;
}

.modeListSection .deleteOption {
    background-color: #C66E87;
    border: 3px solid #FF7582;
}

.modeListSection .deleteOption:hover {
    cursor: pointer;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    /* Rotate the element by 90 degrees */
}

.modeList {
    transition: transform 0.3s ease;
    /* Add a transition for the transform property */
}

.rotated {
    transform: rotate(180deg);
    /* Rotate the element when the 'rotated' class is applied */
}

.disableModeListButton {
    background-color: #8DAAC0 !important;
}

.activeDisableModeListButton {
    background-color: #60E3D5 !important;
}

.deleteConfirmationTrue {
    background-color: #FF7582 !important;
}

.displayNone {
    display: none;
}

.topSection {
    display: flex;
}

.unitParents {
    display: flex;
    width: 100%;
    justify-content: start;

    gap: 27px;
}

.topDivInformation {
    background-color: #F6F0F0;
    display: flex;
    gap: 10px;
    padding: 10px 15px 10px 15px;

    border: 4px solid #60E3D5;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #0C98B4;

    margin-left: auto;
    margin-right: 25px;

    align-items: center;

    width: 206px;
    height: 43px;
}


.topDivInformation img {
    width: 23px;
    height: 23px;
}

.topDivInformation p {
    margin: 0;
}



@media (max-width:1400px) {

    .container {
        background-image: url('/images/Walpaper_without_watermark.png');
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .parents {
        flex-direction: column;
        align-items: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

    }

    .unitParents {
        display: flex;
        flex-direction: column;
        height: 99%;
        align-items: center;
    }

    .centerDiv {
        height: 100%;
        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        line-height: 38.73px;
        text-align: center;
    }


    .mobileDisplayNone {
        display: none !important;
    }

    .mapSection {
        min-width: 330px;
        width: 90%;
        min-height: 0;
        height: 396px;

        border-radius: 6px;
        position: relative;

        margin-top: 8px;
        margin-bottom: 5px;

        box-shadow: 0px 0px 0px 0px #00000040;

    }

    .mapSectionWithoutPreview {
        height: 77.5%;
    }

    .centerDiv {
        width: 100%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        border-radius: 0;
        border: none;
    }

    .mobileBottomSection {
        display: flex;
        justify-content: space-evenly;
        gap: 8px;
    }

    .bottomSectionButton {
        height: 90%;
        width: 50px;
        background-color: #0C98B4;
        border: 2px solid #60E3D5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin: 0;
        padding: 0;
    }

    .bottomSectionButton img {
        height: 50%;
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .webcamIcon img {
        width: 80%;
        height: 80%;
        margin: 0;
        padding: 0;
    }

    .controlLidarButton {
        width: auto;
        position: absolute;
        top: 10px;
        left: 10px;
        height: 20px;
        display: flex;
        gap: 3px;
    }

    .lidarButton {
        width: 46px;
        height: 46px;
        border-radius: 100%;
        background-color: #0C98B4;
        border: 2px solid #60E3D5;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lidarButton img {
        width: 50%;
        height: 50%;
    }

    .mainLidarButtonActive {
        background-color: #60E3D5;
    }

    .lidarButtonActive {
        background-color: #8DAAC0;
    }

    .controlButtonSection {
        width: auto;
        height: auto;
        top: 70px;
        left: 10px;
        position: absolute;

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .controlButton {
        width: 46px;
        height: 46px;
        border-radius: 100%;
        background-color: #0C98B4;
        border: 2px solid #60E3D5;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .controlButton img {
        width: 50%;
        height: 50%;
    }

    .mainControlButtonActive {
        background-color: #60E3D5;
    }

    .focusButton {
        width: 95px;
        height: 34px;

        margin: 0;
        padding: 0;

        position: absolute;
        top: 12px;
        right: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: Inter;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;

        background-color: #0C98B4;
        border: 2px solid #60E3D5;
        border-radius: 15px;

    }

    .focusButton p {
        margin: 0;
        padding: 0;
    }

    .focusButton img {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 2200px) and (min-width:1401px) {}

@media (min-width:2201px) {
    .unitParents {
        height: 85%;
        width: 100%;

        display: flex;
        width: 100%;
        justify-content: start;
        gap: 40px;

    }

    .statusSection {
        margin-right: 205px !important;
    }

    .statusSection .status {
        height: 57px;
        width: 367px;
        border-radius: 28px;
        gap: 15px;

        border: 4px solid #60E3D5;
    }

    .statusSection p {
        font-family: Inter;
        font-size: 28px;
        font-weight: 500;
        line-height: 33.89px;
        text-align: left;
    }

    .statusSection .status img {
        width: 35px;
        height: 35px;
        margin-left: 20px;
    }

    .statusSection .lidar {
        height: 59px;
        width: max-content;
        padding-left: 28px;
        padding-right: 28px;
        border-radius: 30px !important;

        margin-left: 361px;
    }

    .statusSection .lidarButton {
        margin-top: -10px;
        margin-left: 16.48px;
    }

    .slider {
        width: 112.55px;
        height: 56.28px;

        border-radius: 54.28px;
    }

    /* Style for the slider when the toggle is "on" */
    .slider::before {
        height: 20px;
        width: 20px;
        border: 11px solid #0567A6;
    }

    .toggleInput:checked+.slider::before {
        transform: translateY(-50%) translateX(-7px);
        border: 11px solid #60E3D5;
    }

    .menu {
        width: 240px;
        height: 259px;
        padding: 10px;

        background-color: #D0E1E7;
        border: 5.38px solid #0C98B4;
        border-radius: 45px;
        display: flex;

        flex-direction: column;
        justify-content: space-around;

        box-shadow: -10px 10px 4px 0px #00000040;
    }

    .mapSection {
        position: relative;
        width: 80% !important;
        /* min-width: 2050px; */
        min-height: 1128px;
        border: 5px solid #0C98B4;
        margin-right: 29px;

        border-radius: 45px;
        margin-bottom: 40px;
        padding-top: 46.5px;
    }

    .topDiv {
        font-family: Inter;
        font-size: 38px;
        font-weight: 600;
        line-height: 45.99px;
        text-align: left;

        /* margin-top: 14px; */
        margin-bottom: 71px;

        gap: 15px;
    }

    .topDiv .playButton,
    .topDiv .pauseButton,
    .topDiv .stopButton,
    .topDiv .focusButton {
        height: fit-content;
        width: max-content;
        background-color: #0C98B4;
        border: 2px solid #60E3D5;
        border-radius: 10px;
        justify-content: space-between;
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;


        display: flex;
        align-items: center;

    }

    .topDiv .playButton p,
    .topDiv .pauseButton p,
    .topDiv .stopButton p,
    .topDiv .focusButton p {
        margin: 0;

        font-family: Inter;
        font-size: 19px;
        font-weight: 500;
        line-height: 22.99px;
        text-align: center;

        text-align: center;
        color: #FFFFFF;
    }

    .topDiv .playButton img,
    .topDiv .pauseButton img,
    .topDiv .stopButton img,
    .topDiv .focusButton img {
        width: 14.4px;
        height: 17.49px;
        margin-left: 9.6px;
    }


    .centerDiv {
        font-family: Inter;
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;

        height: 950px;
        border: 4.15px solid #0C98B4;
    }

    .centerDiv img {
        width: 28px;
        height: 28px;
    }


    .informationSection {
        width: 652px;
        height: 60px;
    }

    .informationSection p {
        font-size: 22px;
    }

    .statusSection {
        margin-left: auto;
        margin-right: 137px;
        margin-top: 13px;

        left: 1256px;
    }

    .centerDiv .buttonNavigation div {
        height: 28px;
        width: 28px;
        border: 3.5px solid #60E3D5;
        border-radius: 8px;
    }

    .centerDiv .buttonNavigation {
        margin-top: 30px;
    }

    .buttonNavigation div {
        padding: 8px !important;
    }

    .footerMap {
        top: 1050px;
        padding-left: 30px;
    }

    .emergencyButton {
        width: 221px;
        height: 51px;

        border-radius: 20px;
        border: 2.1px solid #FF7582;

        font-family: Inter;
        font-size: 19px;
        font-weight: 500;
        line-height: 22.99px;
        text-align: left;

        align-items: center;
        gap: 10px;
    }

    .emergencyButton img {
        width: 25px;
        height: 25px;
    }

    .mapName {
        font-family: Inter;
        font-size: 19px;
        font-weight: 500;
        line-height: 22.99px;
        text-align: left;

        display: flex;
        align-items: center;

        color: #0567A6;
    }

    .topDivInformation {
        gap: 15px;
        padding-left: 15px;
        margin-right: 50px;

        border: 4px solid #60E3D5;

        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        line-height: 26.63px;
        text-align: left;
        color: #0C98B4;

        width: 821px;
        height: 22px;
    }

    .topDivInformation img {
        width: 30px;
        height: 30px;
    }

    .mapPreview {
        width: 339px;
        height: 222px;

        top: 30px;
        left: 30px;
        border-radius: 9.75px;
        border-width: 8px;
    }

    .modeListParents {
        width: 213px;
        height: 46px;
        border: 3px solid #60E3D5;
        border-radius: 24px;

        font-family: Inter;
        font-size: 19px;
        font-weight: 500;
        line-height: 22.99px;
        text-align: left;

        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 23px;
    }


    .displayNone {
        display: none;
    }

}