.ControlInstruction {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    /* Black background with 20% opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    /* Ensure it's above other elements */
}

.ControlInstruction img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.database img {
    width: 417px;
    height: 418.86px;
}

.control img {
    width: 895px;
    height: 852.63px;
}

.mapping img {
    width: 514px;
    height: 688.63px;
}




.ControlInstruction:hover {
    cursor: pointer;
}

@media (max-width:1400px) {
    .mobileHide {
        display: none;
    }
}

@media (min-width:2201px) {
    .database img {
        width: 629px;
        height: 635.29px;
    }

    .control img {
        width: 1381px;
        height: 1320.1px;
    }

    .mapping img {
        width: 780px;
        height: 1047.1px;
    }
}