.mapSection {
    width: 1102px;
    min-height: 800px;
    
    height: 80%;
    background-color: #D0E1E7;
    border: 2px solid #0C98B4;
    border-radius: 45px;
    box-shadow: -10px 10px 4px 0px #00000040;
    position: absolute;
    margin-bottom: 20px;

    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.centerDiv {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #0C98B4;

    text-align: center;
}

.centerDiv .location {
    width: 30%;
    height: 30%;
}

.informationSection {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
    align-items: center;
    
    justify-content: center;
    
    background-color: #F6F0F0;
    width: 100%;
    border: 5px solid #60E3D5;
    border-radius: 5px;
    padding: 10px;
    
}

.informationSection:hover {
    cursor: pointer;
}

.centerDiv .informationSection img {
    width: 30px;
    
    height: 30px;
    
    margin-right: 10px;
    
}

.informationSection p {
    align-self: center;
    
    margin: 0;
    
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    color: #0C98B4;
    text-align: center;
    
}

.bolder {
    font-weight: 700;
}



.displayNone {
    display: none;
}

@media (max-width:1400px) {
    

    .mapSection {
        min-width: 330px;
        width: 90%;
        min-height: 0;
        height: 396px;

        border-radius: 6px;
        position: relative;

        margin-top: 8px;
        margin-bottom: 5px;

        box-shadow: 0px 0px 0px 0px #00000040;

    }

    .mapSectionWithoutPreview {
        height: 594px;
    }

    

    .centerDiv {
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;

        padding-left: 56px;
        padding-right: 56px;
    }

    .centerDiv .location {
        width: 15%;
        height: 15%;
    }

    .informationSection {
        border: 3px solid #60E3D5;
        border-radius: 5px;
        
        padding-right: 7px;

        width: auto;
    }

    .informationSection:hover {
        cursor: pointer;
    }

    .centerDiv .informationSection img {
        width: 18px;
        height: 18px;
        margin-right: none;
    }

    .informationSection p {
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;

        color: #0C98B4;
        text-align: center;
        
    }

}

@media (max-width: 2200px) and (min-width:1401px) {

    .menu {
        width: 240px;
        height: 259px;
        padding: 10px;

        background-color: #D0E1E7;
        border: 5.38px solid #0C98B4;
        border-radius: 45px;
        display: flex;

        flex-direction: column;
        justify-content: space-around;

        /* padding-top: 10px;
        padding-bottom: 10px; */

        box-shadow: -10px 10px 4px 0px #00000040;
    }

    .mapSection {
        position: relative;
        width: 75% !important;
        height: 850px;
        max-height: 100%;
        border: 5px solid #0C98B4;
        margin-right: 29px;
    }


    .centerDiv {
        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        line-height: 38.73px;
        text-align: center;
    }

    .informationSection {
        width: fit-content;
        height: auto;
    }

    .informationSection img{
        width: 23px !important;
        height: 23px !important;
    }


    .informationSection p {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.94px;
        text-align: left;
    }

    .bolder {
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.94px;
        text-align: left;

    }
}

@media (min-width:2201px) {
    

    .menu {
        width: 240px;
        height: 259px;
        padding: 10px;

        background-color: #D0E1E7;
        border: 5.38px solid #0C98B4;
        border-radius: 45px;
        display: flex;

        flex-direction: column;
        justify-content: space-around;

        /* padding-top: 10px;
        padding-bottom: 10px; */

        box-shadow: -10px 10px 4px 0px #00000040;
    }

    .mapSection {
        position: relative;
        width: 81% !important;
        height: 100%;
        max-height: 100%;
        border: 5px solid #0C98B4;
        margin-right: 29px;
    }


    .centerDiv {
        font-family: Inter;
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
    }

    .informationSection {
        width: 652px;
        height: 60px;
    }

    .informationSection p {
        font-size: 22px;
    }
}
