.container {
    background-image: url('/images/Walpaper_without_watermark.png');
    /* Replace with the path to your image */
    background-size: cover;
    /* This property ensures the image covers the entire background */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* Set a minimum height of the viewport height (100vh) */
    position: absolute;
}

.container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    /* Your desired color */
    opacity: 0.2;
    /* Adjust the opacity to control the color intensity */
    z-index: 1;
    /* Place it in front of other content */
}

.centerDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000 !important;
}

.centerDiv img {
    width: 35px;
    height: 35px;
}

.text {
    width: 392px;
    height: 84px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0567A6;
    border: 3px solid #60E3D5;
    border-radius: 10px;
    margin-bottom: 37px;

    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.loginButton {
    width: 184px;
    height: 43px;
    border: 4px solid #60E3D5;
    background-color: #F6F0F0;
    color: #0C98B4;
    display: flex;
    align-items: center;
    padding: 10px 0 15px 10px;
    border-radius: 5px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    gap: 10px;
}

.loginButton:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #0567A680;
    transition: 0.5s;

}

.footer {
    z-index: 50;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.mobile {
    display: none;
}


@media (max-width:1400px) {

    .mobile {
        display: block;
    }


    .desktop {
        display: none;
    }

    .centerDiv {
        width: auto;
    }

    .centerDiv .text img {
        width: 13px;
        height: 13px;
        margin-left: 10px;
    }

    .text {
        width: max-content;
        height: max-content;
        border: 2px solid #60E3D5;
        border-radius: 5px;
        padding-right: 10px;

        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;

    }

    .loginButton {
        width: auto;
        height: auto;
        border: 2px solid #60E3D5;
        border-radius: 5px;

        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;

        gap: 10px;
        padding: 0;
        padding-left: 8px;
        padding-right: 8px;
        /* padding-top: 7px;
        padding-bottom: 7px; */
    }

    .loginButton img {
        width: 20px;
        height: 20px;
    }

    .loginButton:hover {
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px #0567A680;
        transition: 0.5s;

    }

    .footer {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 20px;

        z-index: 100;
    }
}

@media (min-width:1401px) {
    .loginButton {
        width: auto;
        height: 43px;
        border: 4px solid #60E3D5;
        background-color: #F6F0F0;
        color: #0C98B4;
        display: flex;
        align-items: center;
        padding: 10px 0 15px 10px;
        border-radius: 5px;

        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;

        padding-right: 15px;
        gap: 10px;
    }

}

@media (min-width:1501px) {
    .text {
        width: max-content;
        height: max-content;
        padding-left: 20px;
        padding-right: 20px;

        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0567A6;
        border: 3px solid #60E3D5;
        border-radius: 10px;
        margin-bottom: 37px;

        font-family: Inter;
        font-size: 28px;
        font-weight: 500;
        line-height: 33.89px;
        text-align: left;

        color: #FFFFFF;
    }

    .loginButton {
        font-family: Inter;
        font-size: 19px;
        font-weight: 500;
        line-height: 22.99px;
        text-align: left;

    }

}