.container {
    background-image: url('/images/Walpaper_without_watermark.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;

    overflow: auto;
    overflow-x: auto;
    -ms-overflow-x: auto;
}

.parents {
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

.leftSide {
    height: 100vh;

    width: 30%;

    border-right: 10px solid #60E3D5;
    background-color: #0C98B4;
    position: relative;

}

.leftSide .imageAnimation {
    height: 75vh;
    max-height: 80%;
    padding-top: 30px;

}

.leftSide .information {
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;

}

.leftSide .information h1 {
    font-family: Inter;
    font-size: 2em;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #ECF4F6;

    text-align: center;
}

.leftSide .information h3 {
    outline: none;
    margin: 0;
}

.leftSide .information .feature {
    font-family: Inter;

    font-weight: 600;

    letter-spacing: 0em;
    text-align: left;
    color: #ECF4F6;
}


.rightSide {
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}

.rightSide .tagline {
    width: 100%;

    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #0567A6;
    text-shadow: 0px 4px 4px #60E3D5;
}

.formSection button[type="submit"]:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: 1s;
}


.formSection {

    width: 100%;
    max-width: 80%;

    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;

}

.formSection input {
    margin-bottom: 10px;
}

.formSection .label {
    color: #0567A6;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 10px;
}

.formSection [type="text"] {
    width: 99%;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #0567A6;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    padding-left: 10px;

}

.formSection [type="text"]:valid {
    border: 2px solid #60E3D5;
    background-color: #ECF4F6;
}

.invalid [type="text"] {
    border: 2px solid #C66E87;
    background-color: #F6F0F0;
    color: #C66E87;
}

.invalid [type="text"]:valid {
    border: 2px solid #C66E87;
    background-color: #F6F0F0;
    color: #C66E87;
}

.formSection [type="password"] {
    width: 99%;
    height: 45px;
    border-radius: 3px;
    border: 2px solid #0567A6;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    padding-left: 10px;
}

.formSection [type="password"]:valid {
    border: 2px solid #60E3D5;
    background-color: #ECF4F6;
}

.invalid [type="password"] {
    border: 2px solid #C66E87;
    background-color: #F6F0F0;
    color: #C66E87;
}

.invalid [type="password"]:valid {
    border: 2px solid #C66E87;
    background-color: #F6F0F0;
    color: #C66E87;
}

.passwordSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.passwordSection .divPasswordSection {
    width: 350px;
}

.iconStatusColumn {
    display: flex;
    align-items: center;
    position: relative;
}

.iconStatusColumn input {
    width: calc(100% - 40px);
}

.iconStatusColumnButton {
    position: absolute;
    right: 10px;

    top: 50%;
    transform: translateY(-100%);
}

.formSection button[type="submit"] {
    width: 246px;
    height: 53px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0C98B4;
    border: 2px solid #60E3D5;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    float: right;
}

.loginSection {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #0C98B4;

    margin-right: auto;
    margin-left: 20px;

    display: flex;

    width: 100%;

    height: 43px;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 2vh;
}

.loginButton {
    display: flex;
    gap: 15px;
    width: max-content;
}

.buttonLogin {
    display: flex;
    align-items: center;
    width: max-content;
    background-color: #F6F0F0;
    color: #0C98B4;
    justify-content: space-evenly;
    gap: 5px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    padding-left: 15px;
    padding-right: 15px;

    border-radius: 5px;
    border: 4px solid #60E3D5
}

.buttonLogin:hover {
    box-shadow: 0px 4px 4px 0px #60E3D5;
    transition: 1s;
    cursor: pointer;
}

.tooltip {
    margin-top: -50px;
    margin-bottom: 30px;
    color: #C66E87;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: url("/icons/Stop.svg");
}

.displayNone {
    display: none;
}

@media (max-width:361px) {

    .mobileHide {
        display: none;
    }

    .mobileDisplay {
        display: block !important;
    }

    .parents {
        height: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;

        position: relative;
        width: 100%;
    }

    .rightSide {
        width: 100%;
        padding-top: 55px;
    }

    .rightSide .tagline {
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }

    .formSection .label {
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 5px;
    }

    .formSection [type="text"] {
        width: 99%;
        height: 35px;
        border-radius: 5px;
        border: 2px solid #0567A6;

        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;


        padding-left: 10px;
    }

  


    .formSection button[type="submit"] {
        width: 100%;
        height: 40px;

        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 10px;
    }

    .passwordSection {
        margin-bottom: 0;
        flex-direction: column;
        width: 100%;
    }

    .divPasswordSection {
        margin-bottom: 0;
        width: auto !important;
    }
    

    .formSection [type="password"] {
        width: 100%;
        height: 35px;
    }


    .loginSection {

        align-items: center;
        justify-content: center;
        margin-left: auto;
        height: auto;
        margin-bottom: 0;
    }

    .loginButton {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .loginButton .textAccount {
        background-color: #ECF4F6;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .buttonLogin {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;

        width: 85px;
        height: 25px;
        padding: 5px;
        border-radius: 3.94px;
        border: 2px solid #60E3D5;
        gap: 6px;

    }

    .buttonLogin img {
        width: 22px;
        height: 22px;
    }

    .bottomSection {
        margin-top: 15px;
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: end;
    }

    .bottomSection .mobileFooter {
        padding-top: 20px;
        padding-right: 10px;
    }

    .buttonInstruction {
        width: 50px;
        height: 50px;
        background-color: #0C98B4;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #60E3D5;
        margin-left: 10px;

        position: fixed;
        bottom: 10px;
        left: 0;
    }

    .buttonInstruction img {
        width: 25px;
        height: 27px;
    }

    .mobileRegisterUnit::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;

        opacity: 0.2;

        z-index: 3;

    }

    .mobileDisplayFlex {
        display: flex;
        z-index: 1000;
        align-items: center;
    }

    .registerContainer {
        width: auto;
        height: auto;
        position: fixed;
        top: 50%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 5;
        color: #0567A6;

        background-color: #0C98B4;
        position: relative;
        border-radius: 10px;
    }

    .registerContainer .imageAnimation {
        height: 55vh;
        padding-top: 30px;
    }

    .registerContainer .information {
        align-items: center;
        padding: 12px;
        font-size: 14px;
    }

    .registerContainer .information h1 {
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: #ECF4F6;

        text-align: center;
    }

    .registerContainer .information h3 {
        outline: none;
        margin: 0;
    }

    .registerContainer .information .feature {
        font-family: Inter;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        color: #ECF4F6;
    }

    .iconStatusColumnButton {
        top: 60% !important;
    }

    .iconStatusColumnButton img {
        width: 17px;
        height: 17px;
    }

    .tooltip {
        margin-top: -20px;
        margin-bottom: 0;
        color: #C66E87;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }
}

/* @media (min-height: 1440px) {
    .leftSide .information .feature {
        font-size: 2vh !important;
    }
}

@media (max-height: 1300px) {
    .leftSide .information .feature {
        font-size: 1.5vh !important;
    }
}

@media (min-height: 1024px) {
    .iconStatusColumnButton {
        position: absolute;
        right: 10px;
        
        top: 40%;
        transform: translateY(-100%);
        
        
    }
}

@media (max-height: 1000px) {
    .iconStatusColumnButton {
        position: absolute;
        right: 10px;
        
        top: 50%;
        transform: translateY(-100%);
        
        
    }
}

@media (max-width: 1250px) {
    .passwordSection {
        flex-direction: column;
        
        align-items: center;
        
    }

    .passwordSection {
        width: 100%;

        margin-bottom: 20px;
        
    }

    .divPasswordSection {
        width: 100% !important;

        margin-bottom: 20px;
        
    }

}

@media (max-width: 1000px) {
    .formSection input {
        margin-bottom: 1.5vh;
    }
}

@media (max-width: 768px) {
    .formSection {
        width: 90%;
        
        padding: 0 15px;
        
    }

    .passwordSection .divPasswordSection,
    .iconStatusColumn input {
        width: 100%;
        
    }
}

@media (max-width: 1024px) and (max-height:1366px) {
    .leftSide .imageAnimation {
        height: 80vh;
        max-height: 80%;
        padding-top: 30px;
        
    }
}

@media (max-height: 900px) and (max-width: 1000px) {
    .iconStatusColumnButton {
        position: absolute;
        right: 10px;
        
        top: 70% !important;
        transform: translateY(-100%);
        
        
    }

    .leftSide .imageAnimation {
        height: 70vh;
        max-height: 80%;
        padding-top: 30px;
        
    }

}


@media (max-width: 1100px) and (max-height:800px) {
    .formSection input {
        margin-bottom: 1vh;
    }

    .iconStatusColumnButton {
        position: absolute;
        right: 10px;
        
        top: 75% !important;
        transform: translateY(-100%);
        
        
    }

    .leftSide .imageAnimation {
        height: 75vh;
        
        padding-top: 30px;
    }
}

@media (min-width: 2560px) {
    .tagline p {
        font-size: 54px;
    }

    .formSection .label {
        font-size: 28px;
        line-height: 34px;
    }

    .formSection [type="text"] {
        height: 70px;
        font-size: 22px;
    }

    .information .feature {
        font-size: 32px;
    }

    .formSection [type="password"] {
        height: 70px;
        font-size: 22px;
    }

    .passwordSection .divPasswordSection {
        width: 620px;
    }

    .loginSection {
        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;
        
    }

    .buttonLogin {
        width: max-content;
        height: 60px;
        font-size: 19px;
    }

    .buttonLogin:hover {
        box-shadow: 0px 4px 4px 0px #60E3D5;
        transition: 1s;
        cursor: pointer;
    }

    .tooltip {
        font-size: 19px;
    }

    .formSection button[type="submit"] {
        width: 407px;
        height: 89px;
        font-size: 32px;
    }
}

@media (width: 1440px) and (height:1024px) {
    .tagline p {
        font-size: 32px;
    }

    .formSection .label {
        font-size: 16px;
        line-height: 19.36px;
    }

    .formSection [type="text"] {
        height: 45px;
        font-size: 16px;
    }

    .formSection [type="password"] {
        height: 45px;
        font-size: 16px;
    }

    .passwordSection .divPasswordSection {
        width: 350px;
    }

    .loginSection {
        font-size: 16px;
        width: 28%;
        
    }

    .buttonLogin {
        width: 110px;
        height: 43px;
        font-size: 14px;
    }

    .tooltip {
        font-size: 14px;
    }

    .formSection button[type="submit"] {
        width: 236px;
        height: 53px;
        font-size: 19px;
    }
} */