.container {
    background-image: url('/images/Walpaper_without_watermark.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;

    overflow: auto;
    overflow-x: auto;
    -ms-overflow-x: auto;
}

.parents {
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

.leftSide {
    height: 100%;
    width: 30%;

    border-right: 10px solid #60E3D5;
    background-color: #0C98B4;
    position: relative;

}

.leftSide .imageAnimation {
    height: 75vh;
    max-height: 80%;
    padding-top: 30px;

}

.leftSide .information {
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;

}

.leftSide .information h1 {
    font-family: Inter;
    font-size: 2em;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #ECF4F6;

    text-align: center;
}

.leftSide .information h3 {
    outline: none;
    margin: 0;
}

.leftSide .information .feature {
    font-family: Inter;

    font-weight: 600;

    letter-spacing: 0em;
    text-align: left;
    color: #ECF4F6;
}


.rightSide {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightSide .tagline {
    width: 100%;

    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #0567A6;
    text-shadow: 0px 4px 4px #60E3D5;
}

.formSection button[type="submit"]:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: 1s;
}

.column {
    margin-bottom: 30px;
}


.formSection {

    width: 100%;
    max-width: 80%;

    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;

}

.formSection input {
    margin-bottom: 10px;
}

.formSection .label {
    color: #0567A6;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 10px;
}

.formSection [type="text"] {
    width: 99%;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #0567A6;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    padding-left: 10px;

}

.formSection [type="text"]:valid {
    border: 2px solid #60E3D5;
    background-color: #ECF4F6;
}

.invalid [type="text"] {
    border: 2px solid #C66E87;
    background-color: #F6F0F0;
    color: #C66E87;
}

.invalid [type="text"]:valid {
    border: 2px solid #C66E87;
    background-color: #F6F0F0;
    color: #C66E87;
}

.formSection [type="password"] {
    width: 99%;
    height: 45px;
    border-radius: 3px;
    border: 2px solid #0567A6;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    padding-left: 10px;
}

.formSection [type="password"]:valid {
    border: 2px solid #60E3D5;
    background-color: #ECF4F6;
}

.invalid [type="password"] {
    border: 2px solid #C66E87;
    background-color: #F6F0F0;
    color: #C66E87;
}

.invalid [type="password"]:valid {
    border: 2px solid #C66E87;
    background-color: #F6F0F0;
    color: #C66E87;
}

.passwordSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.passwordSection .divPasswordSection {
    width: 350px;
}

.iconStatusColumn {
    display: flex;
    align-items: center;
    position: relative;
}

.iconStatusColumn input {
    width: calc(100% - 40px);
}

.iconStatusColumnButton {
    position: absolute;
    right: 10px;

    top: 50%;
    transform: translateY(-100%);
}

.formSection button[type="submit"] {
    width: 246px;
    height: 53px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0C98B4;
    border: 2px solid #60E3D5;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    float: right;
    margin-top: 30px;
}

.loginSection {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #0C98B4;

    margin-right: auto;

    display: flex;

    width: 100%;

    height: 43px;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.loginButton {
    display: flex;
    gap: 15px;
    width: max-content;
}

.buttonLogin {
    display: flex;
    align-items: center;
    width: max-content;
    background-color: #F6F0F0;
    color: #0C98B4;
    justify-content: space-evenly;
    gap: 5px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    padding-left: 15px;
    padding-right: 15px;

    border-radius: 5px;
    border: 4px solid #60E3D5
}

.buttonLogin:hover {
    box-shadow: 0px 4px 4px 0px #60E3D5;
    transition: 1s;
    cursor: pointer;
}

.tooltip {
    margin-top: -50px;
    margin-bottom: 30px;
    color: #C66E87;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: url("/icons/Stop.svg");
}

.displayNone {
    display: none;
}

@media (max-width:1400px) {

    .mobileHide {
        display: none;
    }

    .mobileDisplay {
        display: block !important;
    }

    .parents {
        height: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;

        position: relative;
        width: 100%;
    }

    .rightSide {
        width: 100%;
        padding-top: 55px;
        height: max-content;
    }

    .rightSide .tagline {
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }

    .formSection .label {
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 5px;
    }

    .formSection [type="text"] {
        width: 99%;
        height: 35px;
        border-radius: 5px;
        border: 2px solid #0567A6;

        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;


        padding-left: 10px;
    }

    .formSection button[type="submit"] {
        width: 100%;
        height: 40px;

        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 10px;
    }

    .passwordSection {
        margin-bottom: 0;
        flex-direction: column;
        width: 100%;
    }

    .divPasswordSection {
        margin-bottom: 0px;
        width: auto !important;
    }

    .column {
        margin-bottom: 0px;
    }


    .formSection [type="password"] {
        width: 100%;
        height: 35px;
    }


    .loginSection {
        align-items: center;
        justify-content: center;
        margin-left: auto;
        height: auto;
        margin-bottom: 0;
    }

    .loginButton {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .loginButton .textAccount {
        background-color: #ECF4F6;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .buttonLogin {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;

        width: 85px;
        height: 25px;
        padding: 5px;
        border-radius: 3.94px;
        border: 2px solid #60E3D5;
        gap: 6px;

    }

    .buttonLogin img {
        width: 22px;
        height: 22px;
    }

    .bottomSection {
        margin-top: 15px;
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: end;
    }

    .bottomSection .mobileFooter {
        padding-top: 35px;
        padding-right: 10px;
    }

    .buttonInstruction {
        width: 50px;
        height: 50px;
        background-color: #0C98B4;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #60E3D5;
        margin-left: 10px;

        position: fixed;
        bottom: 10px;
        left: 0;
    }

    .buttonInstruction img {
        width: 25px;
        height: 27px;
    }

    .mobileRegisterUnit::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;

        opacity: 0.2;

        z-index: 3;

    }

    .mobileDisplayFlex {
        display: flex;
        z-index: 1000;
        align-items: center;
    }

    .registerContainer {
        width: auto;
        height: auto;
        position: fixed;
        top: 50%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 5;
        color: #0567A6;

        background-color: #0C98B4;
        position: relative;
        border-radius: 10px;
    }

    .registerContainer .imageAnimation {
        height: 55vh;
        padding-top: 30px;
    }

    .registerContainer .information {
        align-items: center;
        padding: 12px;
        font-size: 14px;
    }

    .registerContainer .information h1 {
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: #ECF4F6;

        text-align: center;
    }

    .registerContainer .information h3 {
        outline: none;
        margin: 0;
    }

    .registerContainer .information .feature {
        font-family: Inter;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        color: #ECF4F6;
    }

    .iconStatusColumnButton {
        top: 60% !important;
    }

    .iconStatusColumnButton img {
        width: 17px;
        height: 17px;
    }

    .tooltip {
        margin-top: -20px;
        margin-bottom: 0;
        color: #C66E87;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }
}

@media (max-width: 2200px) and (min-width:1401px) {
    .iconStatusColumnButton {
        top: 65%;
    }

    .iconStatusColumnButton img{
        width: 20px;
        height: 20px;
    }

    .passwordSection .divPasswordSection {
        width: 45%;
    }

    .leftSide .imageAnimation {
        height: 70%;
        max-height: 90%;
        padding-top: 30px;
    }

    .feature {
        font-size: 19px;
    }

    .loginSection {
        margin-left: 0;
        width: 100%;
        margin-left: 30px;
    }

    .information p {
        font-family: Inter;
        font-size: 26px;
        font-weight: 700;
        line-height: 31.47px;
        text-align: left;
    }

    .leftSide .information h1 {
        font-family: Inter;
        font-size: 26px;
        font-weight: 700;
        line-height: 31.47px;
        text-align: center;        
    }

    .tooltip {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.94px;
        text-align: left;

        margin-top: -15px;
        position: absolute;
    }

    .theFooter {
        margin-right: 30px;
    }
}

@media (min-width:2201px) {
    .iconStatusColumnButton {
        top: 70%;
    }

    .leftSide {
        width: 100%;
        max-width: 889px;
    }

    .leftSide .imageAnimation {
        height: 73%;
        max-height: 90%;
        padding-top: 30px;
    }

    .leftSide .information {
        align-items: center;
        padding-left: 130px;
        padding-right: 130px;

    }

    .rightSide {
        width: 100%;
    }

    .rightSide .tagline {
        font-family: Inter;
        font-size: 54px;
        font-weight: 600;
        line-height: 65.35px;
        text-align: center;
    }


    .formSection {
        width: 100%;
        max-width: 85%;
    }

    .formSection input {
        margin-bottom: 40px;
    }

    .formSection .label {
        font-family: Inter;
        font-size: 28px;
        font-weight: 500;
        line-height: 33.89px;
        text-align: left;
        margin-bottom: 22px;
    }

    .formSection [type="text"] {
        width: 99%;
        height: 70px;

        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        line-height: 26.63px;
        text-align: left;

        padding-left: 20px;
    }


    .formSection [type="password"] {
        width: 99%;
        height: 70px;

        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        line-height: 26.63px;
        text-align: left;

        padding-left: 20px;
    }


    .passwordSection .divPasswordSection {
        width: 45%;
    }

    .iconStatusColumnButton {
        position: absolute;
        right: 10px;

        top: 50%;
        transform: translateY(-100%);
    }


    .feature {
        font-size: 32px;
    }

    .tooltip {
        font-family: Inter;
        font-size: 19px;
        font-weight: 500;
        line-height: 22.99px;
        text-align: left;

    }

    .formSection button[type="submit"] {
        width: auto;
        height: auto;

        padding-left: 100px;
        padding-right: 100px;
        padding-top: 20px;
        padding-bottom: 20px;

        border-radius: 5px;
        background-color: #0C98B4;
        border: 2px solid #60E3D5;
        font-family: Inter;
        font-size: 32px;
        font-weight: 500;
        line-height: 38.73px;
        text-align: center;

        float: right;
        margin-top: 30px;
    }

    .textAccount {
        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        line-height: 26.63px;
        text-align: left;
        margin-left: 20px;
    }

    .buttonLogin {
        font-family: Inter;
        font-size: 19px;
        font-weight: 500;
        line-height: 22.99px;
        text-align: left;

    }

    .copyright {
        margin-top: 0;
    }


    .theFooter {
        /* margin-right: 30px; */
    }


    .leftSide .information h1 {
        font-family: Inter;
        font-size: 45px !important;
        font-weight: 700;
        line-height: 54.46px;
        text-align: center;
    }

    .loginButton {
        margin-left: 56px;
        margin-bottom: 20px;
    }
}