@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
  background-image: url('/images/Walpaper_without_watermark.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  position: fixed;

  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: hidden;
}

.topSection {
  width: 100%;
}

.incorrectPassword {
  display: flex;
  gap: 10px;
  background-color: #F6F0F0;
  border: 4px solid #FF7582;

  color: #C66E87;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;

  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-top: 100px;
  width: 458px;
}

.incorrectPassword img {
  width: 23px;
  height: 23px;
}

.parents {
  height: 100%;
  position: relative;
}

.register {
  padding-left: 30px;

  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;

  gap: 15px;


}

.registerUnitForm {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.register p {
  color: #0C98B4;
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

  margin: 0;
  padding: 0;

}

.buttonRegister {
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 120px;
  height: 30px; */
  background-color: #F6F0F0;
  gap: 10px;
  border-radius: 10px;
  color: #0C98B4;
  border: 4px solid #60E3D5;
}

.buttonRegister:hover {
  box-shadow: 0px 4px 4px 0px #0567A680;
  transition: 0.5s;
  cursor: pointer;
}

.buttonRegister p {
  font-size: 19px;
  margin: 0;

  padding: 0;

}


.centerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-height: 750px; */
  margin-left: auto;
  margin-right: auto;
  position: relative;

  align-items: center;
}

.registerUnit {

  height: 43px;
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #0C98B4;
  display: flex;
  align-items: center;

  /* margin-right: 20%;
  margin-top: -15%; */

  position: absolute;
  top: 860px;



  display: flex;
  flex-direction: column;
}


.registerUnit .registerUnitText {
  background-color: #ECF4F6;
  height: 43px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonRegisterUnit {
  display: flex;
  /* width: 168px;
  height: 43px; */
  background-color: #F6F0F0;

  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  color: #0C98B4;
  border: 4px solid #60E3D5;
}

.buttonRegisterUnit:hover {
  box-shadow: 0px 4px 4px 0px #0567A680;
  transition: 0.5s;
  cursor: pointer;
}

.buttonRegisterUnit p {
  font-size: 14px;
}

.registerUnit .registerUnitColumn {
  margin-top: 5px;
  padding: 20px !important;
  /* width: 85%; */
  background-color: #D9FEFA;
  border: 4px solid #60E3D5;
  border-radius: 5px;
}

.registerUnit .registerUnitColumn .inputUnit {
  padding: 0;
}

.registerUnit input[type="text"] {
  gap: 5px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #97E5F4;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  outline: none;

  width: 230px;
}

.registerUnitColumn .buttonSection input[type="text"]:focus {
  outline-color: #60E3D5;
  outline-style: solid;
  outline-width: medium;
}

.registerUnitColumn .buttonSection button {
  width: fit-content;
  /* height: 39.9px; */
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #0C98B4;
  border: 2px solid #60E3D5;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}



.registerUnitColumn .buttonSection {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 5px;
}

.registerUnitColumn .buttonSection .registerButton {
  margin-left: auto;
}

.registerUnitColumn .buttonSection .cancelButton {
  background-color: #8DAAC0;
}

.registerUnitColumn .buttonSection button:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: 1s;
}


.centerSection .greetings {
  font-family: 'Inter', sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 38.7px;
  letter-spacing: 0em;
  text-align: center;
  color: #0567A6;
  text-shadow: 0px 7px 7px #60E3D5;
  margin-bottom: 1%;
  margin-top: 50px;
}

.dataSection {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}


.tableSection {
  /* overflow-y: auto; */
  height: 516px;
  max-height: 713px;

  transition: max-height 0.3s ease;
  background-color: #ECF4F6;
  border: 3px solid #60E3D5;
  border-radius: 7px;

}

.tableSection thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;


  font-family: 'Inter';
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;

}

/* WebKit-based browsers (Chrome, Safari) */
.tableWrapper::-webkit-scrollbar {
  width: 12px;
}

.tableWrapper::-webkit-scrollbar-track {
  border: 1px solid #60E3D5;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: #0C98B4;
  border-radius: 6px;
  border: 1px solid #0C98B4;
}

.tableUnit {
  width: 100%;
  max-height: 615px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tableUnit .labelSection {
  color: #FFFFFF;
  margin-bottom: 35px;
  top: 300px;
  border-radius: 5px;
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0567A6;
  border: 4px solid #60E3D5;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;

  padding-left: 15px;
  padding-right: 15px;

}

.table {
  width: 100%;
  border-radius: 7px;
  border-collapse: separate;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

  color: #FFFFFF;

}



.table th,
.table td {
  text-align: center;
  border: 2px solid #0C98B4;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;

}

.table th {
  background-color: #0C98B4;
  color: white;
}

.table tr {
  margin: 5px;
}

.onRow {
  background-color: #7BCBFF;
}

.offRow {
  background-color: #D498A9;
}

.table tbody tr {
  transition: background-color 0.3s ease;
  margin-bottom: 3px;
}

.table tbody tr:hover td {
  box-shadow: 0px 4px 4px 0px #0567A680;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.table tbody tr.selectedRow td {
  border: 5px solid #0C98B4;
}

.alertOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;

  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1000;

  cursor: pointer;
}

.alertBox {
  display: flex;

  align-items: center;

  gap: 10px;

  padding: 20px;
  color: rgba(255, 117, 130, 1);
  background-color: hsla(0, 25%, 95%, 1);
  border: 5px solid rgba(255, 117, 130, 1);
  border-radius: 5px;
  z-index: 1001;


  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

  cursor: pointer;
}

.alertBox img {
  width: 30px;
  height: 30px;
}




.loginFormButton {
  margin-top: 20px;
  height: 47px;
  /* width: 98px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C98B4;
  border: 2px solid #60E3D5;
  padding-left: 10px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  border-radius: 10px;
  margin-left: auto;
  margin-bottom: 20px;
}

.loginFormButton:hover {
  cursor: pointer;
  box-shadow: -4px 4px 4px 0px #00000040;
  transition: 1s;
}

.loginFormButton img {
  height: 30px;
  width: 30px;
}


.table th:hover+tbody tr td:nth-child(1),
.table th:hover+tbody tr td:nth-child(2),
.table th:hover+tbody tr td:nth-child(3),
.table th:hover+tbody tr td:nth-child(4),
.table th:hover+tbody tr td:nth-child(5) {
  box-shadow: 0px 4px 4px 0px #0567A680 !important;

  transition: 0.3s;
}



.loginSection {
  margin-left: auto;
  margin-right: auto;
  display: flex;

  flex-direction: column;

  align-items: center;



}

.loginSection .labelSection {
  color: #FFFFFF;
  margin-bottom: 35px;
  top: 300px;
  border-radius: 3px;
  gap: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0567A6;
  border: 4px solid #60E3D5;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;

  padding-left: 15px;
  padding-right: 15px;
}

.labelSection img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 0.2em;
}

.labelSection p {
  display: flex;
  align-items: center;
}

.inputSection {
  /* width: 446px;
  height: 188.9px; */
  top: 392px;
  border-radius: 10px;
  border: 3px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputSection form {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #D9FEFA;
  border: 4px solid #60E3D5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.inputUnit {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  justify-content: space-between;

}

.passwordInputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.passwordInputContainer input {
  width: 100%;
  /* height: 43px; */
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #97E5F4;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  outline: none;
}

.passwordInputInvalid input[type="password"]:valid {
  background-color: #D498A9 !important;
}

.passwordInputInvalid input[type="password"]:focus {
  background-color: #D498A9 !important;
  outline-color: #D498A9 !important;
}



.passwordInput {
  background-color: #97E5F4;
}

.passwordStatusButton {
  position: absolute;
  right: 10px;

  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.passwordStatusButton img {
  width: 18px;
  height: 12.8px;
}


.inputSection button {
  width: fit-content;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #0C98B4;
  border: 4px solid #60E3D5;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left: auto;
}

.separateElement {
  margin-left: auto;
  padding: 0;
  margin: 0;
}

.inputSection label {
  font-weight: bold;
  color: #0567A6;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  justify-content: start;
  align-items: flex-start;
  width: 151px;
}


.inputSection input[type="text"] {
  padding: 10px;
  gap: 5px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #97E5F4;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  outline: none;
}

.inputSection input[type="text"]:focus {
  outline-color: #60E3D5;
  outline-style: solid;
  outline-width: medium;

}

.inputSection input[type="password"] {
  /* width: 230px;
  height: 43px; */
  padding: 10px;
  gap: 5px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #97E5F4;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  outline: none;
}

.inputSection input[type="password"]:focus {
  outline-color: #60E3D5;
  outline-style: solid;
  outline-width: medium;
}

.inputSection input[type="submit"] {
  width: fit-content;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #0C98B4;
  border: 4px solid #60E3D5;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left: auto;
}

.inputSection input[type="submit"]:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: 1s;
}

.submitButton:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: 0.5s;
}

.dataUtil form {
  margin-top: 10px;
  /* width: 272px;
  height: 103px; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #D9FEFA;
  border: 2px solid #60E3D5;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.bottomSection {
  margin-top: auto;
  width: 100%;

}

.theFooter Footer {
  max-width: 100%;
}

.displayNone {
  display: none;
}

.mobileRegisterUnit::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  opacity: 0.2;

  z-index: 3;

}

.confirmationDialog {

  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #D9FEFA;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  z-index: 5;
  border: 3px solid #60E3D5;
  border-radius: 5px;

  gap: 10px;
  padding: 10px;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

  color: #0567A6;
}

.inputUnit label {
  width: max-content;
}

.tableSection {
  display: flex;
  flex-direction: column;
  max-height: 495px;
  /* Adjust based on your requirement */
}

.tableWrapper {
  overflow-y: auto;
  /* Adjust based on your requirement */
}

.headerTable th,
.bodyTable td {
  text-align: center;
}

.headerTable th {
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 3px;
}

@media (max-width:1400px) {
  .registerContainer {
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;

    color: #0567A6;
  }


  .mobileHide {
    display: none;
  }

  .mobileDisplay {
    display: block;
  }

  .mobileDisplayFlex {
    display: flex;
    z-index: 1000;
  }

  .container {
    height: 100%;
  }

  .centerSection {
    max-height: none;
    margin-top: 55px;
  }

  .displayFlex {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .centerSection {
    overflow-y: auto;
  }

  .centerSection .greetings {
    font-size: 20px;
    width: 80%;
    margin-top: 0 !important;
  }

  .dataSection {
    display: block;
  }

  .dataSection .loginSection .labelSection {
    width: 237px;
    font-size: 14px;
    height: 40px;
    justify-content: space-between;
    border: 2px solid #60E3D5;
  }

  .dataSection .loginSection .labelSection img {
    width: 20px;
    height: 20px;
  }

  .dataSection .loginSection .inputSection {
    width: 90%;
    max-width: 400px;
    height: auto;
  }

  .inputSection form {
    border: 2px solid #60E3D5;
  }

  .dataSection .loginSection .inputUnit label {
    font-size: 16px;
    line-height: 19.36px;
    width: 130px;
  }

  .dataSection .loginSection .inputUnit input[type="text"] {
    width: 90%;
    height: 29px;
  }

  .dataSection .loginSection .inputUnit input[type="password"] {
    width: 100%;
    height: 29px;
  }

  .passwordStatusButton {
    position: absolute;
    right: 5px;
  }

  .inputSection button {
    font-size: 12px;
    border: 2px solid #60E3D5;
    border-radius: 5px
  }

  .incorrectPassword {
    width: 80%;
    height: 54px;
    border: 4px solid #FF7582;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    margin-top: 16px !important;
    padding-left: 15px;
    padding-right: 15px;

    gap: 5.5px;

    top: 400px;
    position: absolute;
  }

  .incorrectPassword img {
    width: 20px;
    height: 18px;
  }


  .tableUnit {
    margin-top: 42px;
    width: 90%;
    max-width: 400px;
    max-height: 557px;
  }

  .tableSection {
    width: 100%;
    overflow-y: auto;
    height: auto;
    max-height: 420px;
    border-radius: 5px;
  }

  .tableSection thead {
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
  }

  .table {
    font-family: "Inter", "Content";
    width: 100%;
    height: 80%;
  }

  .table th,
  .table td {
    height: 30px;
    font-size: 12px;
  }

  .loginFormButton {
    width: auto;
    height: 35px;
    font-size: 12px;

    font-family: 'Inter';
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 0px !important;
  }

  .registerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    height: 170px;

  }

  .registerSection .textSection {
    width: auto;
    border-radius: 3px;
    background-color: #ECF4F6;
    padding-left: 10px;
    padding-right: 10px;
    color: #0C98B4;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

    margin-top: auto;
  }

  .orText {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #0C98B4;

    margin: 0;
    padding: 0;

  }

  .buttonRegisterUnit {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }

  .buttonRegister {
    border-radius: 5px;

    font-family: Inter;

    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    height: fit-content;
    width: fit-content;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .buttonRegister img {
    width: 22px;
    height: 22px;
  }

  .buttonRegister p {
    font-size: 14px !important;
  }

  .mobileInstruction {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;

    color: white;

    gap: 10px;
  }

  .mobileInstruction .buttonInstruction {
    width: 50px;
    height: 50px;
    background-color: #0C98B4;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobileInstruction .buttonInstruction img {
    width: 20px;
    height: 22px;
  }

  .instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9FEFA;
    width: auto;
    height: auto;

    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;

    border-radius: 5px;
  }

  .instructionMenu {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C98B4;

    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px;
    border: 2px solid #60E3D5;

    border-radius: 5px;
  }

  .instructionMenu img {
    width: 18px;
    height: 20px;
  }

  .alertBox {
    border: 2px solid rgba(255, 117, 130, 1);
    border-radius: 3px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

  }

  .alertBox img {
    width: 23px;
    height: 23px;
  }

  .footer {
    width: 95%;
    margin-top: 78px;
  }

}

@media (max-width: 2200px) and (min-width:1401px) {
  .container {
    overflow: auto;
  }

  .buttonRegister {
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 3px;
  }

  .buttonRegister p {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
  }

  .greetings p {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    text-align: center;
  }

  .dataSection .loginSection .inputSection {
    width: max-content;
    height: auto;
  }

  .dataSection {
    justify-content: center;

  }

  .dataSection .labelSection p {
    padding: 0;
    margin: 0;
  }

  .dataSection .labelSection {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dataSection .loginSection {
    width: 100%;
  }

  .dataSection .tableUnit .tableSection {
    padding: 8px;
    height: auto;

    /* max-height: 50vh; */
    /* overflow-y: auto; */
  }

  .dataSection .tableUnit .tableSection .table th {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .table thead {
    background-color: red !important;
  }

  .dataSection .tableUnit .tableSection .table td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .leftSection {
    width: auto;
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .registerUnit {
    position: relative;
    top: 80px;
    /* right: 25px; */
  }

  .registerUnit .buttonRegisterUnit {
    height: 37px;

    padding-left: 15px;
    padding-right: 15px;
  }

  .registerUnit .buttonRegisterUnit p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;

    padding: 0;
    margin: 0;
  }

  .registerUnit .buttonSection {
    margin-top: 25px;
  }

  .passwordInputContainer {
    width: 64%;
    max-width: 230px !important;
  }

  .inputUnit {
    padding-left: 20px;
    padding-right: 20px;
  }

  .inputUnit label {
    width: 110px;
  }

  .inputSection form {
    padding: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 446px;
  }

  .inputSection input[type="text"] {
    max-width: 210px;
  }

  .inputSection button {
    margin-right: 20px;
  }

}

/* 
@media (max-width: 1440px) and (min-width:1001px) and (max-height:) { */

@media (min-width:2201px) {
  .container {
    overflow: auto;
  }

  .hidexl {
    display: none;
  }

  .displayxl {
    display: block;
  }

  .register p {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: left;
  }

  .buttonRegister {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;

    border-radius: 3px;
  }

  .buttonRegister p {
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.99px;
    text-align: left;

  }

  .greetings p {
    font-family: Inter;
    font-size: 54px;
    font-weight: 600;
    line-height: 65.35px;
    text-align: center;
  }

  .loginSection .labelSection img {
    width: 35px;
    height: 35px;
  }

  .loginSection .labelSection {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    text-align: left;

    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .dataSection .loginSection .inputSection {
    width: max-content;
    max-width: 598px;
    height: auto;

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: center;

  }

  .dataSection .loginSection .inputUnit {
    padding: 0;
    padding-right: 30.5px;
    padding-top: 30px;

    justify-content: space-between;
  }

  .dataSection .loginSection .inputUnit label {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    text-align: center;

    width: 200px;

  }

  .inputSection .submitButton {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #0C98B4;
    border: 4px solid #60E3D5;

    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.99px;
    text-align: center;

    margin-right: 30px;
    margin-top: 20px;
  }

  .dataSection {
    justify-content: center;

  }

  .dataSection .labelSection p {
    padding: 0;
    margin: 0;
  }

  .dataSection .labelSection {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    text-align: left;

  }

  .dataSection .loginSection {
    width: 100%;
  }

  .dataSection .tableUnit .tableSection {
    padding: 9px;
    height: auto;

    max-height: 50vh;
    /* overflow-y: auto; */
    width: 518px;
  }

  .dataSection .tableUnit .tableSection .table {
    border-collapse: separate;
    border-spacing: 3px 8px;
    font-size: 19px;
  }

  .dataSection .tableUnit .tableSection .table th {
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.99px;
    text-align: center;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .dataSection .tableUnit .labelSection {
    width: 504px;
  }

  .table thead {
    background-color: red !important;
    height: 56px;
  }

  .dataSection .tableUnit .tableSection .table td {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .dataSection .loginFormButton p {
    margin: 0;
  }

  .dataSection .loginFormButton {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    text-align: center;

    padding: 10px;
  }

  .leftSection {
    width: auto;
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .registerUnit .buttonRegisterUnit {
    height: 37px;

    padding-left: 15px;
    padding-right: 15px;

  }

  .registerUnitText {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: left;

    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .registerUnit .buttonRegisterUnit p {
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.99px;
    text-align: left;


    padding: 0;
    margin: 0;
  }

  .registerUnitColumn .inputUnit label {
    width: 100%;

    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;

  }

  .registerUnitColumn .inputUnit input[type="text"] {
    width: 300px !important;
  }

  .registerUnitColumn .separateElement {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
  }

  .registerUnitColumn .buttonSection {
    margin-top: 25px;
  }

  .registerUnitColumn .buttonSection .registerButton {
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.99px;
    text-align: center;
  }

  .registerUnitColumn .buttonSection .cancelButton {
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.99px;
    text-align: center;
  }

  .passwordInputContainer {
    width: 60%;
  }

  .inputUnit label {
    width: 200px;
  }

  .inputSection form {
    padding: 0px;
    padding-bottom: 30px;
  }

  .separateElement {
    width: 30px;
  }

  .inputSection input[type="text"] {
    width: 300px;
  }

  .tableUnit .labelSection img {
    width: 30px;
    height: 30px;
  }

  .incorrectPassword {
    display: flex;
    /* width: 623px;
    height: 60px; */
    background-color: #F6F0F0;
    border: 4px solid #FF7582;

    color: #C66E87;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 100px;

    width: 700px;
  }

  .passwordStatusButton img {
    width: 24px;
    height: 17.07px;
  }
}


/* Modify the existing .moveLeft class */
.moveLeft {
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
  opacity: 1;
  transform: translateX(0); /* Reset to original position */
}

/* Add keyframes for fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Class to apply fade-in animation */
.fadeIn {
  animation: fadeIn 1s forwards;
}


/* Keyframes for moving the box to the left */
@keyframes moveLeft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-0.1%);
  }
}

/* Class to trigger the animation */
.moveLeft {
  animation: moveLeft 0.5s forwards;
}


/* Add keyframes for fadeInUnit animation */
@keyframes fadeInUnit {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add keyframes for fadeOutUnit animation */
@keyframes fadeOutUnit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Class to apply fade-in animation */
.fadeInUnit {
  animation: fadeInUnit 0.5s forwards;
}

/* Class to apply fade-out animation */
.fadeOutUnit {
  animation: fadeOutUnit 0.5s forwards;
}

/* Hide element after fadeOut animation */
.hiddenUnit {
  display: none;
}
