.container {
    
    background: linear-gradient(rgba(78, 108, 177, 0.5), rgba(78, 108, 177, 0.5)), url('/images/Walpaper_without_watermark.png');
    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

    overflow-x: auto;
    -ms-overflow-x: auto;
}

.parents {
    
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    position: relative;
}

.navigation {
    z-index: 3;
}

.unitParents {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.displayNone {
    display: none;
}


@media (max-width:1400px) {
    .mobileHide {
        display: none;
    }

    .container {
        background-image: url('/images/Walpaper_without_watermark.png');
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .parents {
        flex-direction: column;
        align-items: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .unitParents{
        display: flex;
        flex-direction: column;
        height: 99%;
        align-items: center;
    }

}

@media (max-width: 2200px) and (min-width:1401px) {

    .parents {
        display: flex;
        justify-content: start;
        margin-left: auto;
        margin-right: auto;
        height: 100%;

        position: relative;
    }

    .theFooter {
        padding-bottom: 100px;
        height: 100%;
        background-color: red;
    }
}

@media (min-width:2201px) {
    .parents {
        max-width: 100%;
    }
    
    .unitParents{
        height: 85%;
        width: 100%;
    }
}