.topSection {
    position: fixed;
    /* Change position to fixed */
    top: 0;
    /* Position it at the top of the viewport */
    left: 0;
    /* Align it to the left */
    z-index: 0;
    /* Set a high z-index to ensure it stays on top of other content */
    height: 50px;
    width: 100%;
    background: #0C98B480;
    border-bottom: 2px solid #0C98B4;

    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    color: #0567A6;
}


/* No need to change other styles */


.topSection img {
    height: 100%;
    /* width: 20%; */
}

.displayNone {
    display: none;
}

@media (max-width:1400px) {
    .displayFlex {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .mobileDisplayNone {
        display: none;
    }

    .greetings {
        display: flex;
        align-items: center;
        gap: 2.5px;
        background-color: #0567A6;

        border-radius: 14px;
        border: 2px solid #60E3D5;
        width: auto;
        height: auto;
        padding-left: 7px;
        padding-right: 7px;

        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;

    }

    .greetings img {
        width: 20px;
        height: 20px;
    }

    .greetingsMessage img {}
}