.closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #0C98B4;
    border: 3.5px solid #60E3D5;
    color: #FFFFFF;
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    z-index: 3;
}

.closeButton img{
    width: 30px;
    height: 30px;
}

.closeButton:hover {
    box-shadow: -4px 4px 4px 0px #00000040;
    transition: 1s;
}

@media (min-width:2560px){
    .closeButton{
        margin-right: 30px;
        height: 60px;
        width: 60px;
        border-radius: 8.11px;
    }
}

@media (max-width:361px) {
    .closeButton {
        border-radius: 5px;
    }
    .closeButton img{
        width: 20px;
        height: 20px;
    }
}